---
name: Continuous Integration

on:
  push:
    branches:
      - '*'
      - '!master'

jobs:

  yamllint:
    name: yamllint
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v3
        with:
          path: "${{ github.workspace }}"

      - name: Set up Python 3
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install test dependencies.
        run: pip3 install yamllint

      - name: Lint code.
        run: |
          yamllint .

  ansible-lint:
    name: ansible-lint
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v3
        with:
          path: "${{ github.workspace }}"

      - name: Set up Python 3
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install test dependencies.
        run: pip3 install ansible-lint

      - name: Lint code.
        run: |
          ansible-lint .

  molecule:
    name: Molecule
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - distro: geerlingguy/docker-debian11-ansible:latest
            playbook: converge.yml
          - distro: geerlingguy/docker-centos8-ansible:latest
            playbook: converge.yml
          - distro: geerlingguy/docker-rockylinux8-ansible:latest
            playbook: converge.yml
          - distro: geerlingguy/docker-ubuntu2204-ansible:latest
            playbook: converge.yml
        ansible-release:
          - ansible

    steps:
      - name: Code checkout
        uses: actions/checkout@v3
        with:
          path: "${{ github.workspace }}"

      - name: Set up Python 3
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install Ansible
        run: pip3 install ${{ matrix.ansible-release }} molecule[docker] docker

      - name: Molecule Testing...
        run: molecule test
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_DISTRO: ${{ matrix.distro }}
          MOLECULE_PLAYBOOK: ${{ matrix.playbook }}
